
.container {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 15px;
  border-style:solid;
  border-color: black; 
  
}



.topo {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-style:solid;
  border-color: black;   
      
}

.rodape {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 50px;
  border-style:solid;
  border-color: black; 
  
}


.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-style:solid;
  border-color: black; 
      
}




.c1, .c2, .c3, .c4, .c5 {
  width: 100%;
  margin-right: 10px;
  text-align: center;
  justify-content: center;
  border-style:solid;
  border-color: black; 

}


.rounded-circle {
  width: 70%;
  border-style:solid;
  border-color: black; 
  
}


.icon {
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  border-style:solid;
  border-color: black; 

}

.box {
  width: 100%;
  border-style:solid;
  border-color: black; 
  margin-top: 30px;
}

.titulo {
  font-weight: bold;
  font-size: 24px;
  border-style:solid;
  border-color: black; 
  margin-top: 30px;
}

