* {
  background-color:dimgray;
  
  
}




.container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px 20px 30px 40px;
}



.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
 
      
}


.foto {
  width: 70%;
  text-align: center;
  
}


.icon {
  width: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

