.tudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    min-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  
.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
  }

.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top: 50px;
     
   
  }

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .topo {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
     
        
  }

  .contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
        
  }

  
  

  .c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    margin-right: 10px;
    text-align: center;
  }


  .rounded-circle {
    width: 70%;

    
  }


  .icon {
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;

  }

  .box {
    width: 100%;
  }

  .titulo {
    font-weight: bold;
    font-size: 24px;
  }
  
  
